<div #chatModal id="chat-modal" class="modal" [class.hidden]="!isOpen">
  <div class="modal-header">
    <img loading="lazy" src="assets/Img/Logo101.png" class="img"/>
    <div class="chat-title">
      <div class="chat-heading">Zonia Chat</div>
      <div class="chat-subheading">¡Bienvenido a Zonia! 👋</div>
    </div>
    <div class="icon-container">
      <i class="fas fa-ellipsis-v more-options" (click)="toggleOptionsMenu()"></i>
      <i class="fas fa-times close" (click)="closeChat()"></i>

      <!-- Menú desplegable -->
      <div class="options-menu" [ngClass]="{'show': isOptionsMenuVisible}">
        <div class="menu-option" (click)="toggleASR()">
          <i [ngClass]="isASRActive ? 'fas fa-microphone-slash' : 'fas fa-microphone'"
             [style.color]="isASRActive ? '#ffffff' : '#ffffffb3'"></i>
          {{ isASRActive ? 'Desactivar ASR' : 'Activar ASR' }}
        </div>

        <div class="menu-option" (click)="toggleTTS()">
          <i [ngClass]="isTTSActive ? 'fas fa-volume-mute' : 'fas fa-volume-up'"
             [style.color]="isTTSActive ? '#ffffff' : '#ffffffb3'"></i>
          {{ isTTSActive ? 'Desactivar TTS' : 'Activar TTS' }}
        </div>
        <div class="menu-option" (click)="rateOperator()">
          <i class="fas fa-star"></i> Calificar al operador
        </div>
      </div>
    </div>

  </div>

  <div class="modal-body">
    <div #chatDisplay id="chat-display" (scroll)="onChatScroll()">
      <app-chat-messages
        [messages]="messages"
        [isBotThinking]="isBotThinking"
        (swipeLeft)="showPreviousEdition($event)"
        (swipeRight)="showNextEdition($event)"
        (editMessage)="handleEditMessage($event)">
      </app-chat-messages>

      <div *ngIf="showScrollToBottomButton" class="scroll-to-bottom" (click)="scrollToBottomWithArrow()">
        &#x25BC;
      </div>
    </div>
  </div>

  <app-chat-input
    [message]="messageToEdit?.message ?? ''"
    [transcribing]="transcribing"
    [isASRActive]="isASRActive"
    (messageSent)="sendMessage($event)">
  </app-chat-input>

</div>
