jieba
torch
loguru
peft
similarities
transformers
sentencepiece
markdown
PyPDF2
python-docx
pandas
protobuf
auto-gptq
optimum
gradio
fastapi
uvicorn
sentence-transformers
librosa
pydantic
numpy
soundfile
requests
pydub
simpleaudio
opencv-python
