<div class="message-container">
  <div *ngFor="let message of messages; let i = index" class="message-wrapper">
    <!-- Burbujas de mensajes -->
    <div
      [ngClass]="{'message-left': i % 2 === 0, 'message-right': i % 2 !== 0}"
      class="message"
    >
      <!-- Icono de edición solo para los mensajes de la derecha -->
      <span *ngIf="i % 2 !== 0" class="edit-icon" (click)="onEditMessage(message, i)">&#9998;</span>

      <!-- Mostrar el mensaje o los puntos animados si el bot está pensando -->
      <ng-container *ngIf="!isBotThinking || i !== messages.length - 1">
        {{ message.history[message.currentIndex] }}
      </ng-container>

      <!-- Mostrar puntos animados dentro de la burbuja mientras el bot está pensando -->
      <ng-container *ngIf="isBotThinking && i === messages.length - 1">
        {{ message.history[message.currentIndex] }}<div class="typing-indicator">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
      </ng-container>
    </div>

    <!-- Mostrar los íconos de navegación si hay ediciones -->
    <div *ngIf="i % 2 !== 0 && message.history.length > 1" class="edit-navigation" style="text-align: right;">
      <span class="navigate-icon" (click)="swipeLeft.emit(i)" style="cursor: pointer;">&lt;</span>
      <small>{{ message.currentIndex + 1 }}/{{ message.history.length }}</small>
      <span class="navigate-icon" (click)="swipeRight.emit(i)" style="cursor: pointer;">&gt;</span>
    </div>

    <!-- Ícono de perfil debajo de la burbuja -->
    <img
      *ngIf="i % 2 === 0"
      src="assets/Img/Logo%20141.png"
      class="profile-icon-left"
    />
    <img
      *ngIf="i % 2 !== 0"
      src="assets/Img/Logo%20191.png"
      class="profile-icon-right"
    />
  </div>
</div>
