<div class="div-24">
  <div class="div-26-container">
    <!-- Solo muestra si está cargando -->
    <div *ngIf="loading" class="loading-container">
      <!-- Texto específico según la carga -->
      <div *ngIf="processingImage" class="loading-text">Procesando Imagen...</div>
      <div *ngIf="processingAudio" class="loading-text">Procesando Audio...</div>
      <!-- Spinner -->
      <div class="loading-spinner"></div>
      <!-- Texto de espera general -->
      <div class="loading-text">Por favor, espere</div>
    </div>


    <div class="divider"></div>

    <!-- Contenedor del textarea, se oculta cuando se está grabando -->
    <div class="textarea-container div-26" [ngClass]="{'hidden': recording}">

      <!-- Textarea oculto durante la grabación -->
      <textarea
        *ngIf="!recording"
        #textarea
        [(ngModel)]="message"
        placeholder="Escribe un mensaje o graba tu voz"
        class="input-message"
        (input)="adjustTextareaHeight(); toggleButtons()"
        (keydown)="handleKeyDown($event)"
        rows="1">
      </textarea>
      <!-- Botón de subida de imagen -->
      <input
        type="file"
        accept="image/*"
        class="upload-input"
        (change)="onImageSelected($event)"
        #fileInput
        hidden>
      <button *ngIf="!recording" class="upload-button" (click)="fileInput.click()">
        <img loading="lazy"
             src="https://cdn.builder.io/api/v1/image/assets/TEMP/84ffc803891c0e49a16e71b15b1c89d104d6f8eb51f33e17f74f4718931ce077?"
             class="img-6"/>
      </button>

      <!-- Botón de grabar voz (solo se muestra si no hay texto y si no se está grabando) -->
      <button
        *ngIf="!recording"
        [disabled]="!isASRActive || transcribing"
        [ngClass]="{'show': !showSendButton, 'disabled-button': !isASRActive}"
        (click)="startRecording($event)"
        class="audio-button recording-button">
        <img loading="lazy"
             src="https://cdn.builder.io/api/v1/image/assets/TEMP/9d9a51da3b8498711a162f92df1c12cdefd018fa664229cbf6ffc729c5cc59ee?"/>
      </button>

      <!-- Botón de enviar mensaje (solo se muestra si hay texto) -->
      <button [ngClass]="{'show': showSendButton}" [disabled]="transcribing" (click)="sendMessage()"
              class="send-button">
        <img loading="lazy"
             src="https://cdn.builder.io/api/v1/image/assets/TEMP/5dc9d2d6ec971ce4cbf4106b7ca4c800915958788234c80940c97fc39fed35f5?"
             class="img-8"/>

      </button>
    </div>

    <!-- Panel de grabación que aparece cuando se está grabando -->
    <div *ngIf="recording && showRecordingPanel" class="recording-panel">
      <!-- Visualización de ondas de sonido -->

      <div class="waveform-timer-container">
        <!-- Temporizador al lado izquierdo de las ondas -->
        <span class="recording-timer">{{ recordingTime }}</span>

        <!-- Visualización de ondas de sonido -->
        <canvas #waveform id="waveform"></canvas>
      </div>

      <!-- Contenedor de botones -->
      <div class="controls-container">

        <!-- Botón de pausar/reanudar -->
        <button (click)="isPaused ? resumeRecording() : pauseRecording()" class="control-btn pause-btn">
          <img *ngIf="!isPaused" src="https://img.icons8.com/?size=100&id=39591&format=png&color=1D8348" alt="2ecc71"
               class="img-8"/>
          <img *ngIf="isPaused" src="https://img.icons8.com/?size=100&id=23878&format=png&color=1D8348" alt="2ecc71"
               class="img-8"/>
        </button>

        <!-- Botón de cancelar grabación -->
        <button class="control-btn delete-btn" (click)="cancelRecording()">
          <img src="https://img.icons8.com/?size=100&id=11705&format=png&color=1D8348" alt="Eliminar" class="img-8"/>
        </button>

        <!-- Botón de enviar grabación -->
        <button class="control-btn send-button-panel" (click)="stopAndSendRecording()">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/5dc9d2d6ec971ce4cbf4106b7ca4c800915958788234c80940c97fc39fed35f5?"
            class="img-8" alt="Enviar grabación"/>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="div-29"></div>
